# local package install
-e .

# third party packages
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox
flake8
flask
gunicorn
mlflow
flask_sqlalchemy
click
Sphinx
coverage
awscli
hyperopt
python-dotenv>=0.5.1
jsonschema~=3.0